<div class='custom_weather'>
    <b>Weather for {{ city }}:</b>
    <div class='custom_weather__icon'>
        <img src="http://openweathermap.org/img/w/{{ img.icon }}.png" alt='{{ img.description }}' title='{{ img.main|capitalize }}'>
    </div>
    <p>Temperature: {{ temp }} {{ units }}</p>
    <p>Pressure: {{ press }}</p>
    <p>Humidity: {{ humid }}%</p>
</div>